* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    width: 100%;
    height: 100px;
}

header h1 {
    display: flex;
    margin: 20px;
    font-size: 30px;
    align-self: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header nav {
    display: flex;
    align-self: center;
}

header nav ul {
    display: flex;
    align-self: center;
    padding-right: 30px;
}

header ul li a {
    display: flex;
    padding: 10px 5px;
    text-decoration: none;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header ul li:hover {
    background-color: rgb(5, 146, 146);
}

/*________________________________________________________*/

.subtitle {
    width: 100%;
    height: 75px;
    background-color: aliceblue;
    align-content: end;
}

.subtitle h2 {
    display: flex;
    justify-content: flex-end;
    margin: 20px 20px;
    padding-right: 30px;
    
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*________________________________________________________*/

main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

main article {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

main article h3 {
    width: 30%;
    border-right: 5px solid black;
    font-size: 40px;
}

#about-me div {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0 20px;
}

#previous-work div {
    display: flex;
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
}

#previous-work a {
    display: flex;
    flex-wrap: wrap;
}

#previous-work a:hover {
    filter: brightness(75%);
}

#previous-work section {
    border: 3px solid aqua;
    min-width: 400px;
    height: 300px;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

#previous-work h4{
    display: inline;
    background-color: aqua;
    text-decoration: none;
    font-size: 25px;
}
#previous-work p {
    display: inline;
    background-color: aqua;
    text-decoration: none;
}

#firstWork {
    width: 100%;
    max-width: 830px;
}

#firstWork section {
    width: 100%;
    max-width: 830px;
    background-image: url('./pi.png');
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

#secondWork section {
    background-image: url('./CACTIlogo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}

#thirdWork section {
    background-image: url('./levi-guzman-wF5z4_JzxaU-unsplash.jpg');
    background-position: center;
    background-size: 100%;
}

#fourthWork section {
    background-image: url('./artem-zhukov-NvirgXMLaaY-unsplash.jpg');
    background-position: center;
}

#fifthWork section {
    background-image: url('./george-bale-Rb0p4eKPQWA-unsplash.jpg');
    background-position: center;
}

#contact-me div {
    display: flex;
    width: 70%;
    justify-content: space-between;
    padding: 0 20px;
}

#contact-me div a {
    padding: 20px 0;
    padding-right: 10px;
}

#resume a {
    width: 70%;
    padding: 20px 20px;
}